<form action ="/random/results">
  <label for="min_input">Minimum</label>
  <input id="min_input" type="text" placeholder="e.g. 1.5" name="user_min">
  <br>
  <label for="max_input">Maximum</label>
  <input id="max_input" type="text" placeholder="e.g. 4.5" name="user_max">
  <br>
  <button>Pick random number</button>
</form>
