<form action ="/square_root/results">
  <label for="square_root_entry">Enter a number</label>
  <input id="square_root_entry" type="text" placeholder="what number do we want to square root" name="elephant">

  <button>Calculate square root</button>
</form>
