<form action ="/square/results">
  <label for="square_entry">Enter a number</label>
  <input id="square_entry" type="text" placeholder="what number do we want to square" name="elephant">

  <button>Calculate square</button>
</form>
